.menu {
    border-top: dashed 1px rgba(219, 219, 219, 0.9);
        border-top-color: rgba(219, 219, 219, 0.9);
        border-top-style: dashed;
        border-top-width: 1px;
    border-bottom: dashed 1px rgba(219, 219, 219, 0.9);
    margin-bottom: 25px;
}
.menu ul {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 0px;
    list-style-type: none;
    text-align: right;
}
.menu ul li {
    display: inline;
    margin-left: 10px;
}
.menu ul li a {
    text-decoration: none;
    color: #DBDBDB;
}
p, ul, ol {
    margin: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    color: #DBDBDB;
}
body {
    background-color: #000;
    margin: 0 auto;
        margin-top: 0px;
    padding: 0;
        padding-top: 0px;
    font-family: "Fixedsys Excelsior 3.01", monospace;
    font-size: 12.5px;
    color: #DBDBDB;
    text-align: left;
    line-height: 1.5 !important;
}
a:hover {
    color: #000;
    background-color: #DBDBDB;
}
a {
    text-decoration: underline;
    color: #DBDBDB;
}
.container {
    width: 90%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}
footer {
    color: #DBDBDB;
    border-top: dashed 1px rgba(219, 219, 219, 0.9);
    margin: 20px auto 15px;
        margin-bottom: 15px;
    padding-top: 10px;
    text-align: right;
}
ul > li:before {
    content: "-";
    margin-right: 9px;
  }
ul {
    list-style-type: none;
}
